
body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.card {
  width:280px;
  display: block;
  margin: 60px auto;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: .25s;
  
  &:hover {
    box-shadow: 10px 5px 40px 20px darken(#341cac, 10%);
    cursor: pointer;
    
    .button-primary {
      transform: translate(10px, 0);
    }
  }
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width:100%;
  background-size:cover;
  color:#fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.div_price {
  display: grid;
  margin-left: 10px;
}

.div_volume {
  display: inline-grid;
  margin-left: 10px;
}

.div_change {
  display: inline-grid;
  margin-right: 10px;
  float: right;
}

.volume {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.change_up {
  font-size: 11px;
  font-weight: 600;
  color: limegreen;
}

.change_down {
  font-size: 11px;
  font-weight: 600;
  color: red;
}

.price {
  color: gold;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
}

.body-content {
  color: gold;
  font-size: 20px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color:transparent;
  color: $blue;
  font-size: 15px;
  transition:.25s;
  
  i{
    padding-right:4px;
  }
}


.designer-link {
  color:#fff;
  text-align:center;
  fon-size: 12px;
  text-decoration: none;
  display:block;
}